[submodule "libraries/wpl"]
	path = libraries/wpl
	url = ../wpl.git
	branch = master
[submodule "libraries/agge"]
	path = libraries/agge
	url = ../agge.git
[submodule "libraries/utee"]
	path = libraries/utee
	url = ../utee.git
	branch = master
